.p-5{
    padding: 5x;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-60{
    padding: 60px;
}
.m-5 {
    margin: 5px;
}
.mr-5{
    margin-right: 5px;
}
.pr-10{
    padding-right: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}
.m-10 {
    margin: 10px;
}
.m-20 {
    margin: 20px;
}
.mb-20 {
    margin-bottom: 20px !important;
}
.mb-15{
    margin-bottom: 15px;
}
.my-30 {
    margin-bottom: 30px;
    margin-top: 30px;
}
.my-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}
.py-15 {
    padding-bottom: 15px;
    padding-top: 15px;
}
.py-30 {
    padding-bottom: 30px;
    padding-top: 30px;
}
.gap-15 {
    gap: 15px;
  }

.gap-50 {
    gap: 50px;
  }


