// Path: assets/styles/_navbar.scss
$content-width: 100%;
$breakpoint: 799px;
$nav-height: 7em;
$nav-background: #fff;


$primary: #ed502e;
$text-color-1: #1B2D33;
$text-color-2: #FFFFFF;
$txt-color-footer: #a3b1bf;
$bg-color-footer: #1B2D33;
$bg-color-copyright: #273545;
$font-family: 'Open Sans', sans-serif;
$box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
$box-shadow-nav: rgba(92, 15, 15, 0.22) 0px 2px 18px 0px;
$main-1: #FFFFFE;
$main-2: #EBECEA;
$footer-1: #1B2D33;
$footer-2: #243845;
$font-size-title: 40px;
$font-size-title-2: 30px;
$font-size-p: 12px;
$font-size-button: 14px;
$transition: 300ms;

